---
layout: default
title: Django Blog
---

<p>Postrehy z oblasti Djanga a webu ...</p>

<ul>
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a> {% if post.language %}{{ post.language }} {% endif %}({{ post.date | date: "%d. %m. %Y" }}, {{ post.author_name }})</li>
{% endfor %}
</ul>

