<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{page.title}}</title>
        <link rel="shortcut icon" type="image/png"  href="/favicon.png" />
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-56105755-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        {{ content }}
    </body>
</html>
