---
layout: base
---

<h1><a href="/">Django Blog</a></h1>

{{ content }}

<hr>

<p>(c) <a href="http://djangoblog.cz">Django Blog</a> | <a target="_blank" href="http://twitter.com/django_blog">twitter</a></p>
