---
layout: default
---

<h2>{{ page.title }}</h2>

<p>{{ page.date | date: "%d. %m. %Y"}} | {{ page.author_name }}</p>

{{ content }}


<p style="font-size: 0.9em; color: grey;">--
<br><b>{{ page.author_name }}</b>
<br><a href="mailto:{{ page.author_email }}">{{ page.author_email }}</a>
<br><a href="{{ page.author_web }}" target="_blank">{{ page.author_web }}</a>
 | <a href="{{ page.author_twitter }}" target="_blank">twitter</a>
 | <a href="{{ page.author_github }}" target="_blank">github</a>
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'djangoblogcz'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

